#home.panel.img
  %img.logo{:src => "/images/logos/logo.png"}
  %img.logo.hidden{:src => "/images/logos/logohover.png"}

= haml :about
= haml :twelve
= haml :team
= haml :thirteen
= haml :team
= haml :connect