#home.panel.img
  %img.logo{:src => "/images/logos/logo.png"}
  %img.logo.transparent{:src => "/images/logos/logohover.png"}

=# haml :nav
= haml :nav_svg

= haml :about
= haml :team
= haml :about
= haml :team